<!-- component -->
<app-header></app-header>
<!-- component -->
<section class="">
  <h2 class="text-white text-center mt-20 font-medium text-2xl">
    Lista de Produtos
  </h2>
  <div class="flex mt-32 p-2 mx-auto w-full items-center justify-center">
    
    <table class="w-9/12">
              <thead class="bg-white border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Nome
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Preço
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Categoria
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b transition 
                duration-300 ease-in-out hover:bg-gray-100"  *ngFor="let product of products">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{product.name}} </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{product.price}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    {{product.category}}
                  </td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <a href="#" class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs  mr-2 font-thin">Edit</a>
                        <a href="#" class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin">Remove</a>
                  </td>
                </tr>
                
              </tbody>
            </table>


  </div>
</section>
